html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

* {
  transition: all .1s linear;
}

html {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

a, a:link, a:visited {
  color: #666;
  border-bottom: 1px solid #0000;
  text-decoration: none;
  display: inline-block;
}

a svg, a:link svg, a:visited svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: .2em;
  display: inline-block;
}

a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

main {
  text-align: center;
  vertical-align: middle;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  font-family: Play, sans-serif;
  font-size: 100px;
  animation: 1s ease-in-out infinite alternate glow;
}

p {
  width: 85%;
  max-width: 450px;
  margin-top: 2rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5em;
}

footer {
  width: 100vw;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
}

#values {
  text-align: center;
  flex: 0;
  margin-top: 40px;
  position: relative;
}

#values ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#values li {
  margin: 0 0 1em;
  font-size: 80%;
  display: inline-block;
}

#values li:after {
  color: #999;
  content: "/ ";
  padding: 1em;
}

#values li:last-child:after {
  display: none;
}

#values li:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.25);
}

#values > div {
  width: 90%;
  position: absolute;
  top: 40px;
  left: 5%;
}

#values > div > div {
  color: #ccc;
  border: 1px dashed #ccc;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.2em;
  display: none;
}

/*# sourceMappingURL=index.4a508c1d.css.map */
